@import '../../../assets/sass/variables/_colors.scss';

.component-song-popover {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 240px;
    background-color: $colorWhite;
    cursor: default;
    max-height: 300px;
    overflow: auto;
    z-index: 1;
    box-shadow: 2px 2px 4px;

    .header {
        position: relative;
        border-bottom: 1px solid $colorLightGrey;

        .art {
            position: absolute;
            left: 0;
            top: 0;
            width: 59px;
            height: 59px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .title {
            padding: 10px 10px 10px 70px;

            p:first-child {
                margin: 0;
                font-size: 1.2em;
            }
        }
    }

    .content,
    .playlists {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            color: $colorGrey;
            cursor: pointer;

            li {
                padding: 14px;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: $colorLightGrey;
                    color: $colorDarkBlue;
                }
            }
        }
    }

    .playlists {
        position: absolute;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        transition: transform .2s;
        background-color: $colorWhite;

        &.visible {
            transform: translatex(0);
        }

        .back {
            display: flex;
            height: 40px;
            align-items: center;
            border-bottom: 1px solid $colorLightGrey;

            .component-icon {
                padding: 10px;
            }
        }

        .playlist {
            .component-icon {
                line-height: 14px;
                vertical-align: middle;
            }
        }
    }
}
