$desktop-width: 800px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin can-hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin hover {
  @include can-hover {
    &:hover {
      @content;
    }
  }
}

@mixin cover-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin shadow($elevation) {
  @if $elevation == low {
    box-shadow:
      0 1px 1px 0 rgb(0 0 0 / 14%),
      0 2px 1px -1px rgb(0 0 0 / 12%),
      0 1px 3px 0 rgb(0 0 0 / 20%);
  } @else if $elevation == medium {
    box-shadow:
      0 12px 17px 2px rgb(0 0 0 / 14%),
      0 5px 22px 4px rgb(0 0 0 / 12%),
      0 7px 8px -4px rgb(0 0 0 / 20%);
  } @else if $elevation == high {
    box-shadow:
      0 24px 38px 3px rgb(0 0 0 / 14%),
      0 9px 46px 8px rgb(0 0 0 / 12%),
      0 11px 15px -7px rgb(0 0 0 / 20%);
  } @else {
    @error "Unknown shadow elevation value '#{$elevation}'";
  }
}

@mixin theme($name) {
  body[data-theme='#{$name}'] & {
    @content;
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin active-dot {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: currentcolor;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}
