$maxContentWidth: 1400px;
$desktopSidebarWidth: 240px;
$mobilePlayerBarHeight: 64px;

$colorEmphasisHigh: #121212;
$colorEmphasisMedium:  #424242;
$colorEmphasisLow:  #616161;
$colorPrimary: #435f7a;
$colorPrimaryShade: #34495e;
$colorAccent:  #27ae60;
$colorDanger:  #e74c3c;
