@import '../../../assets/sass/variables/colors';

.component-scan-progress {

    .progress-bar {
        width: 100%;
        height: 40px;
        background: grey;

        .progress {
            height: 100%;
            background: red;
        }
    }
}
