@import '../../../assets/sass/variables/colors';

.component-scan-progress {
    .progress-bar {
        width: 100%;
        height: 46px;
        background: rgba($colorDarkBlue, .6);
        position: relative;

        .progress-bar-advance {
            height: 100%;
            background: $colorDarkBlue;
            transition: width .3s;
        }

        .text-wrapper {
            position: absolute;
            color: $colorWhite;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;

            .status {
                max-width: 80%;
                padding-left: 10px;
            }

            .percentage {
                text-align: right;
                padding-right: 10px;
            }
        }
    }
}
