@import "scss/mixins";

$size: 44px;

.root {
  display: inline-grid;
  place-items: center;
  border: none;
  background-color: transparent;
  outline: 0;
  width: $size;
  height: $size;
  user-select: none;
  padding: 0;
  color: inherit;

  &:focus {
    outline: 1px dashed currentColor;
  }

  @include hover() {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
    cursor: initial;
  }
}
