@import '../assets/sass/variables/all';

.component-app {
    #content {
        min-height: 100vh;
        padding-bottom: 20px;
        background-color: $colorBlue;

        &.shifted {
            margin-left: 250px;
            background-color: $colorWhite;

            @media (max-width: $tabletWidth) {
                & {
                    margin-left: 0;
                }
            }
        }
    }
}
