**/.git
**/.gitignore
**/.gitkeep

backend/public/artwork/**
backend/storage/app/**
backend/storage/logs/**
backend/storage/framework/cache/**
backend/storage/framework/sessions/**
backend/storage/framework/views/**
backend/tests
backend/vendor
backend/.env
backend/.env.dev.example
backend/.env.prod.example
backend/phpunit.xml
backend/bringupdev.sh

frontend
testmusic

!frontend/dist