@import '../../../assets/sass/variables/colors';

$activeColor: $colorRed;

.component-header-menu {
    margin-bottom: 28px;

    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        top: 0;

        li {
            flex-grow: 1;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 2px solid $colorGrey;
            position: relative;
            z-index: 1;
            transition: color .3s;

            &:after {
                content: "";
                position: absolute;
                top: calc(100% - 12px);
                left: 0;
                right: 0;
                margin: auto;
                background-color: $colorBlue;
                width: 24px;
                height: 24px;
                border-bottom: 2px solid $colorGreen;
                border-left: 2px solid $colorGreen;
                opacity: 0;
                z-index: -1;
                transition: all .3s;
                transform: translateY(-12px) rotate(-45deg);
            }

            &:before {
                content: "";
                width: 0;
                height: 2px;
                position: absolute;
                bottom: -2px;
                left: 0;
                right: 0;
                margin: auto;
                background: $activeColor;
                z-index: -2;
                transition: width .3s;
            }

            &.active {
                color: $activeColor;

                &:before {
                    width: 100%;
                }

                &:hover:after,
                &:after {
                    opacity: 1;
                    transform: rotate(-45deg);
                }

                &:after {
                    border-color: $activeColor;
                }
            }

            a {
                display: block;
                padding: 10px;
                text-decoration: none;
                background-color: $colorBlue;
                color: $colorWhite;
            }
        }
    }
}
