@import "scss/vars";

$inputPadding: 5px;

.root {
  position: relative;
  display: inline-block;
  margin: 1.25rem 0 1.5rem 0;
  width: 100%;
  max-width: 100%;
  color: $colorEmphasisHigh;

  .label {
    position: absolute;
    top: $inputPadding;
    left: $inputPadding;
    color: inherit;
    pointer-events: none;
    transition: all 0.25s;
  }

  input {
    font-size: 1rem;
    color: inherit;
    border-color: $colorEmphasisHigh;
    padding: $inputPadding;
    display: block;
    border: none;
    background: transparent;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    outline: 0;
  }

  .icon {
    position: absolute;
    right: $inputPadding;
    top: $inputPadding;
    bottom: 0;
  }

  .line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $colorEmphasisMedium;
    transition: transform 0.1s, background-color 0.1s;
  }

  .error {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 5px;
    font-size: 0.9em;
    color: $colorDanger;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.isFocused {
    .line {
      background: $colorPrimary;
      transform: scaleY(2);
    }
  }

  &.hasError {
    .error {
      opacity: 1;
    }

    .line {
      background: $colorDanger;
      transform: scaleY(2);
    }

    .icon {
      color: $colorDanger;
    }
  }

  &.isFocused,
  &.hasValue {
    .label {
      top: -14px;
      font-size: 0.8em;
      opacity: 0.8;
    }
  }
}
