@import "scss/vars";
@import "scss/mixins";

.root {
  padding: 5%;

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 6px;
    padding: 2rem;

    @include shadow(medium);

    .error {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
      background: rgba($colorDanger, 0.8);
      color: #fff;
      border: 1px solid $colorDanger;
      border-radius: 3px;

      @include shadow(low);
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      > * {
        width: 100%;
      }
    }
  }
}
