@import '../../../assets/sass/variables/colors';

.component-user-list {
    .component-button {
        margin-bottom: 20px;
    }

    .roles {
        span.role {
            padding: 3px 6px;
            border-radius: 3px;
            color: $colorWhite;
            background-color: $colorGrey;
            margin-right: 5px;
        }
    }

    .actions {
        width: 80px;

        .component-icon {
            color: $colorGrey;
            margin-left: 5px;
            line-height: 14px;
            vertical-align: middle;

            &:hover {
                color: $colorBlue;
            }
        }
    }
}
