@import "src/scss/mixins";

.root {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    ". artwork ."
    "content content content"
    "list list list";
  gap: 2rem;

  .artwork {
    grid-area: artwork;

    @include shadow(low);
  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    color: var(--color-emphasis-medium);
    text-align: center;

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;

      .desktopButtons {
        display: none;
      }
    }
  }

  .list {
    grid-area: list;
    width: 100%;
  }

  @media screen and (min-width: 560px) {
    grid-template-columns: 240px 1fr;
    grid-template-rows: 240px 1fr;

    .content {
      text-align: left;

      .actions {
        justify-content: flex-start;
      }
    }

    &:not(.aside) .content {
      padding: 0.5rem 0;

      .actions {
        margin-top: auto;
      }
    }

    &.aside {
      grid-template-areas:
        "artwork list"
        "content list";
    }

    &.above {
      grid-template-areas:
        "artwork content"
        "list list";
    }
  }

  @media screen and (min-width: 900px) {
    &:not(.aside) .content .actions {
      .desktopButtons {
        display: block;
      }

      .mobilePopover {
        display: none;
      }
    }
  }
}
