@import '../../../assets/sass/variables/all';

.component-side-bar-container {
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: $colorDarkBlue;
    transition: width .4s;

    @media (max-width: $tabletWidth) {
        & {
            width: 300px;
            transform: translateX(-100%);
            transition: width .4s, transform .4s;
        }

        &.visible {
            transform: translateX(0px);
        }
    }

    @media (max-width: $mobileWidth) {
        & {
            width: 100vw;
        }
    }

    .credits {
        padding: 10px;
        text-align: center;
        color: $colorWhite;

        a {
            color: inherit;
        }
    }

    .logo-container {
        position: relative;
        text-align: center;
        height: 48px;
        margin: 20px 20px 0;

        a {
            color: $colorWhite;
            text-decoration: none;

            h1 {
                position: absolute;
                top: 20px;
                font-weight: 500;
                left: 50px;
                color: $colorGreen;
                font-size: 24px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: auto;
            }
        }
    }

    .close-button {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        visibility: hidden;

        @media (max-width: $tabletWidth) {
            visibility: visible;
        }

        .component-icon {
            color: $colorWhite;
            font-size: 32px;
        }
    }

    .search-container {
        margin: 0 10px;
    }

    .nav-container {
        margin: 7px auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            color: $colorWhite;

            &:hover {
                color: $colorRed;
            }

            &.active {
                color: $colorWhite;

                &:hover {
                    color: $colorRed;
                }
            }

            &.has-icon a {
                padding-left: 44px;
            }

            a {
                color: inherit;
                text-decoration: none;

                display: block;
                padding: 10px 10px 10px 20px;
                transition: all .2s;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover,
                &.active {
                    text-decoration: none;
                    background-color: $colorBlue;
                }
            }

            .component-icon {
                color: inherit;
                position: absolute;
                top: 8px;
                left: 16px;
                transition: color .2s;
            }
        }
    }

    .user-container {
        color: $colorWhite;
        width: 100%;
        text-align: center;
        padding-top: 14px;

        p {
            padding: 0 10px 14px 10px;
        }

        .actions {
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            a {
                color: $colorWhite;
                transition: color .2s;

                :hover {
                    color: $colorRed;
                }
            }
        }
    }
}
