@import '../../assets/sass/variables/_colors.scss';

.component-logo {
    position: relative;
    text-align: center;

    a {
        color: $colorWhite;
        text-decoration: none;

        h1 {
            position: absolute;
            top: 20px;
            font-weight: 500;
            left: 50px;
            color: $colorGreen;
            font-size: 24px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: auto;
        }
    }
}
