@import "scss/vars";
@import "scss/mixins";

.root {
  position: relative;

  .wrapper {
    position: absolute;
    top: 50%;
    z-index: 50;
    background-color: var(--color-elevation-high);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    transform: translateY(-50%);
    transition: background 0.15s;

    @include shadow(high);

    .option {
      padding: 1rem 1.5rem;
      transition: background-color 0.1s;
      white-space: nowrap;
      display: block;
      text-decoration: none;
      color: inherit;

      @include hover() {
        cursor: pointer;
        background-color: rgba(#000, 0.08);
      }
    }
  }

  &.left .wrapper {
    right: 100%;
  }

  &.right .wrapper {
    left: 100%;
  }
}
