.route-collection-playlists {
    position: relative;

    .component-content-notification {
        position: absolute;
    }
    
    .component-input {
        margin-bottom: 30px;
        margin-top: 0;
    }
}
