@import '../../assets/sass/variables/colors';

.route-search {
    .component-search-input {
        margin-bottom: 20px;
    }

    .search-busy {
        position: relative;

        .component-spinner {
            position: absolute;
            left: 0;
            right: 0;
            top: 20vh;
            margin: auto;
        }
    }

    .search-results {
        .component-artist-card, .component-album-card {
            width: 160px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
