@import '../../../assets/sass/variables/all';

.component-player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    background: $colorDarkBlue;

    button {
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        background: transparent;
        vertical-align: middle;
        transition: opacity .2s;
        padding: 0 7px;

        &:hover {
            opacity: 1;
        }

        &:focus {
            outline: 0;
        }

        &:disabled {
            opacity: .5;
            cursor: default;
        }

        &.button-play .component-icon {
            font-size: 48px;
        }

        .component-icon {
            color: $colorWhite;
        }
    }

    .progress {
        position: absolute;
        top: -5px;
        height: 5px;
        width: 100%;
        cursor: pointer;
        z-index: 33;

        .seek-bar {
            width: 100%;
            height: 100%;
            background: rgba($colorGrey, .5);
        }

        .play-bar {
            height: 100%;
            background: $colorRed;
        }
    }

    .volume-controls {
        display: inline;

        .volume-bar-container {
            position: absolute;
            height: 20px;
            background-color: $colorDarkBlue;
            bottom: 12px;
            right: 12px;
            width: 62%;
            z-index: 10;
            padding-top: 7px;
            visibility: hidden;
            cursor: pointer;
            overflow: hidden;

            .volume-bar {
                width: 100%;
                height: 6px;
                background: rgba($colorGrey, .5);

                .volume-bar-value {
                    background: $colorWhite;
                    width: 50%;
                    height: 100%;
                }
            }

            .hover {
                visibility: visible;
            }
        }

        &:hover {
            .volume-bar-container {
                visibility: visible;
            }
        }
    }

    .advanced-controls {
        text-align: center;

        button {
            i.active {
                color: $colorRed;
            }
        }
    }

    .timers {
        position: absolute;
        top: -27px;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity .5s;

        div {
            position: absolute;
            top: 0;
            padding: 3px;
            color: $colorWhite;
            background: rgba($colorGrey, .5);
        }

        .current-time {
            left: 0;
        }

        .duration {
            right: 0;
        }
    }
}
