/* remove red borders from invalid or required inputs */
:not(output):-moz-ui-invalid, input:invalid {
    box-shadow: none;
}

* {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: inherit;
    }
}
