.container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

    .item-half, .item-third, .item-2third, .item-quarter, .item-full {
        box-sizing: border-box;
        padding: 14px;
    }

    .item-full {
        flex-basis: 100%;
    }

    .item-half {
        flex-basis: 50%;
    }

    .item-third {
        flex-basis: 33%;
    }

    .item-2third {
        flex-basis: 66%;
    }

    .item-quarter {
        flex-basis: 25%;
    }
}