@import '../variables/colors';

table.list {
    width: 100%;
    border-color: $colorGrey;
    border-collapse: collapse;

    tr {
        &:hover {
            td {
                background-color: rgba($colorGrey, .5);
            }
        }

        &:nth-of-type(even) {
            background-color: $colorLightGrey;
        }

        &:nth-of-type(odd) {
            background-color: $colorWhite;
        }

        th {
            font-size: 14px;
            color: $colorGrey;
            border-bottom: 2px solid $colorGrey;

            &.center {
                text-align: center;
            }
        }

        td, th {
            text-align: left;
            padding: 14px 7px;
            text-overflow: ellipsis;
        }

        td {
            max-width: 140px;
            cursor: pointer;
            transition: background-color .5s;
        }
    }
}
