@import "scss/vars";
@import "scss/mixins";

.root {
  --height: var(--tapTarget);
  --radius: calc(var(--height) / 2);

  display: inline-flex;
  position: relative;
  overflow: hidden;
  height: var(--height);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  font: var(--font);
  font-weight: 500;

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &.primary {
    color: #fff;
    border-color: $colorPrimary;
    background-color: $colorPrimary;

    @include shadow(low);

    &:hover,
    &:focus-visible {
      background-color: #fff;
      color: $colorPrimary;
    }
  }

  &.primary.danger {
    color: #fff;
    border-color: $colorDanger;
    background-color: $colorDanger;

    &:hover,
    &:focus-visible {
      background-color: #fff;
      color: $colorDanger;
    }
  }

  &.outlined {
    color: currentColor;
    border-color: currentColor;
    background: transparent;

    @include hover {
      &::after {
        content: "";
        opacity: 0.15;
        background: currentColor;

        @include coverParent;
      }
    }
  }

  &.text {
    color: inherit;
    background: transparent;

    &:hover {
      background: rgba(#000, 0.05);
    }

    &:focus-visible {
      background: rgba(#000, 0.15);
    }
  }

  &:not(.primary).danger {
    color: $colorDanger;
  }

  .linkIcon {
    flex-shrink: 0;
    opacity: 0.5;
  }
}
