@import '../../../assets/sass/variables/colors';

.component-playlist-header {
    .name-group {
        display: inline-block;
        position: relative;

        .playlist-actions {
            position: absolute;
            top: 8px;
            right: -60px;

            .component-icon {
                cursor: pointer;
                transition: color .2s;

                &:hover {
                    color: $colorRed;
                }
            }
        }
    }

    .description {
        font-style: italic;
    }
}
