@import '../../../assets/sass/variables/all';

.component-header {
    position: relative;
    padding: 14px;
    background-color: $colorBlue;
    color: $colorWhite;

    @media (max-width: $tabletWidth) {
        & {
            padding-left: 68px;
        }
    }

    .component-hamburger-button {
        position: absolute;
        top: 10px;
        left: 10px;
        visibility: hidden;

        @media (max-width: $tabletWidth) {
            & {
                visibility: visible;
            }
        }
    }

    h1 {
        font-size: 26px;
        margin: 0;
    }

    a {
        color: $colorWhite;
    }
}
