@import "scss/vars";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorDanger;
  padding: 10vh 10vw;

  .message {
    margin-top: 2rem;
    color: $colorDanger;
  }
}
