@import "scss/vars";

.root {
  --gap: 1rem;
  --itemWidth: 100px;
  --trackWidth: min-content;
  --padding: 2rem;

  .viewport {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--padding);

    .track {
      display: flex;
      gap: var(--gap);
      width: var(--trackWidth);

      > * {
        flex: 0 0 var(--itemWidth);
        scroll-snap-align: start;
      }
    }
  }

  > header {
    display: flex;
    align-items: center;
    gap: 1rem;

    > nav {
      margin-left: auto;
    }

    @media screen and (max-width: 500px) {
      > nav {
        display: none;
      }
    }
  }
}
