@import '../../../assets/sass/variables/_colors.scss';

.component-change-password {
    .change-password-form {
        max-width: 400px;
        margin: 10px auto;

        .component-button {
            float: right;
            margin: 24px 0;
        }
    }

    .change-error {
        text-align: center;
        color: $colorRed;

    }

    .password-changed {
        text-align: center;
        margin: 60px auto;

        .component-icon {
            font-size: 64px;
            opacity: .5;
            color: $colorGreen;
        }

        p {
            margin-top: 10px;
            font-size: 1.4em;
        }
    }

    h2 {
        padding: 20px 10px 0;
        color: $colorGrey;
    }
}
