@import '../../../assets/sass/variables/_colors.scss';

.component-input {
    position: relative;
    display: inline-block;
    color: $colorDarkGrey;
    margin: 28px 0 7px 0;
    width: 100%;
    max-width: 100%;

    &.focused {
        &.dark {
            input, textarea {
                border-color: $colorBlue;
            }

            label {
                color: $colorBlue;
            }
        }

        &.light {
            input, textarea {
                border-color: $colorWhite;
            }

            label {
                color: $colorWhite;
            }
        }

        label {
            top: -12px;
            font-size: .9em;
        }
    }

    &.has-error {
        .error-icon, .error-message {
            opacity: 1;
        }

        &.light, &.dark {
            input, textarea {
                border-color: $colorRed;
            }
        }
    }

    &.light {
        input, textarea {
            color: $colorWhite;
            border-color: $colorWhite;
        }

        label {
            color: $colorWhite;
        }
    }

    .error-icon, .error-message {
        color: $colorRed;
        opacity: 0;
        transition: opacity .2s;
    }

    .error-icon {
        position: absolute;
        font-size: 18px;
        top: 10px;
        right: 4px;
    }

    .error-message {
        position: absolute;
        width: 100%;
        padding: 4px 0;
        font-size: .9em;

        span {
            display: inline-block;
            white-space: normal;
            min-width: 100%;
            width: 0;
        }
    }

    input, textarea {
        color: $colorGrey;
        font-size: 14px;
        padding: 10px 5px;
        display: block;
        border: none;
        background: transparent;
        border-bottom: 1px solid $colorGrey;
        transition: all .25s;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        outline: 0;
    }

    textarea {
        height: 100%;
        resize: none;
        overflow: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        box-sizing: border-box;
    }

    .textarea-height-fix {
        max-height: 120px;
        overflow: hidden;
        min-height: 38px;
        padding: 11px 5px; // use slightly more padding than textarea to hide scrollbar
        box-sizing: border-box;
        visibility: hidden;
        width: 100%;
    }

    label {
        position: absolute;
        top: 12px;
        left: 5px;
        pointer-events: none;
        transition: all .25s;
    }
}
