@import "scss/vars";

.root {
  display: inline-flex;
  align-items: center;
  color: $colorEmphasisLow;

  .input {
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 0;

    &:focus {
      outline: 0;
    }
  }
}
