.root {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  .time {
    color: #fff;
    width: 60px;
    margin: 0 0.5rem;
    white-space: nowrap;
    text-align: center;
  }

  .bufferedOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#eee, 0.3);
    transition: width 0.25s;
  }
}
