@import '../../../assets/sass/variables/_colors.scss';

.component-song-list-entry {
    position: relative;

    &:hover {
        .track-number {
            .icons {
                display: block;
            }

            span {
                display: none;
            }

            .component-playing-indicator {
                display: none;
            }
        }
    }

    &.is-dragging {
        opacity: .4;
    }

    &.is-over td {
        background-color: rgba($colorGrey, .5);
    }

    .track-number {
        width: 36px;
        min-width: 36px;
        max-width: 36px;
        position: relative;
        text-align: center;

        span {
            opacity: .5;
        }

        .component-playing-indicator {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin: -8px auto;
        }

        .icons {
            display: none;

            .component-icon {
                position: absolute;
                top: 50%;
                left: 7px;
                margin-top: -11px;
            }
        }
    }

    .duration {
        width: 40px;
        min-width: 40px;
    }

    .options {
        padding: 0 10px;
        min-width: 80px;
        width: 80px;
        position: relative;

        .component-icon {
            float: right;
            margin-left: 4px;
        }
    }

    a {
        text-decoration: none;
        color: $colorDarkGrey;

        &:hover {
            text-decoration: underline;
        }
    }

    .component-icon {
        cursor: pointer;
        font-size: 22px;
        opacity: .6;
        transition: opacity, .2s;

        &:hover {
            opacity: 1;
            color: $colorBlue;
        }
    }
}
