@import '../../../assets/sass/variables/all';

.component-player {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &:hover {
        .timers {
            opacity: 1;
        }

        .details {
            opacity: 1;
        }
    }
}
