@import '../../../assets/sass/variables/all';

.component-scanner-actions {
    text-align: center;
    background-color: $colorLightGrey;
    padding: 20px;
    border-radius: 2px;

    .seperator {
        margin: 20px;
    }

    .component-button {
        margin-bottom: 14px;
    }
}
