@import '../../../assets/sass/variables/colors';

.component-button {
    display: inline-block;
    position: relative;
    margin: 4px;

    &:not(.loading):not(.disabled):hover {
        &.white button {
            background-color: $colorLightGrey;
            color: $colorBlack;
        }

        &.blue button {
            background-color: $colorWhite;
            color: $colorBlue;
        }

        &.red button {
            background-color: $colorWhite;
            color: $colorRed;
        }

        &.white-border button {
            background-color: $colorWhite;
            color: $colorBlue;
        }
    }

    &.loading {
        pointer-events: none;

        .contents {
            opacity: 0;
        }

        .spinner {
            opacity: 1;
        }
    }

    &.disabled {
        pointer-events: none;

        &.white button {
            color: $colorGrey;
        }
    }

    &.white {
        button {
            color: $colorDarkGrey;
            border-color: $colorLightGrey;
            background-color: $colorWhite;
        }
    }

    &.blue {
        button {
            color: $colorWhite;
            border-color: $colorBlue;
            background-color: $colorBlue;
        }
    }

    &.red {
        button {
            color: $colorWhite;
            border-color: $colorRed;
            background-color: $colorRed;
        }
    }

    &.white-border {
        button {
            color: $colorWhite;
            border-color: $colorWhite;
            background-color: transparent;
        }
    }

    button {
        padding: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 0;
        border: 2px solid;
        border-radius: 2px;
        text-transform: uppercase;
        font-weight: 500;
        transition: all .3s;
    }

    .spinner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
    }

    .overlay-disabled {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($colorWhite, .4);
    }

    /* Adjust icon position, if there are any icons in the button */
    .component-icon {
        line-height: 14px;
        vertical-align: middle;
    }
}
